body{
    background-color:rgb(4, 6, 41);
    display:flex;
    justify-content: center;
    align-items:center;
    height: 100vh;
    
}
.area1{
    width: 300px;
    max-width:350px;
    height: 300px;
    
}
.titulo{
    justify-content: center;
    align-items:center;
    display:flex;
    padding: 10px;
  

}
h2.titulo{
    font-weight: 800;
    color: #fff;
}
label{
    color:#fff;
}
.gray{
    color:#999;
   
}
.padding {
    padding:10px;
    
}